
  @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Bungee+Spice&family=Orbitron:wght@500&family=Roboto:ital,wght@0,100;0,400;0,500;1,300;1,400&family=Rubik+Iso&family=Rubik+Mono+One&family=Rubik+Wet+Paint&family=Tilt+Prism&display=swap');

header {
  padding: 20px;
  text-align: center;
}
header img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Rubik Mono One', sans-serif;
  color: rgb(0, 0, 0);
  background-color: #290101;
  background-image: url("./contenido/test3.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#seleccionar-arma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.subtitulo {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.selector {
  display: flex;
  gap: 10px;
}

.weapons{
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.launcher {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.tarjeta-de-mokepon {
  width: 300px;
  height: 100px;
  background: #000000;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#seleccionar{
  font-size: 30px;
}
#boton-mascota{
  margin: 20px;
  background-image: url("./contenido/slayerlogo.webp");
  background-size: cover; 
  padding: 30px 50px; 
  border: none; 
  color: rgb(39, 1, 1); 
  border-radius: 20px;
}
.tarjeta-de-mokepon img {
  width: 150px;
  border-radius: 20px;
  height: 100px;
}

input {
  display: none;
}

#gif {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  display: flex;
  justify-content: center;
  background-color: black;
  margin-top: -8px;
  margin-left:-8px
  
}
